{
    "extends": ["@sirse-dev/eslint-config"],
    "root": false,
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "rules": {
                "unicorn/no-null": "off"
            }
        }
    ]
}
